/*=============================全局*/
/* 自定义滚动条样式 */
::-webkit-scrollbar {
    width: 6px;
    border-radius: 100%;
}

::-webkit-scrollbar-track {
    background-color: #FFF;
}

::-webkit-scrollbar-thumb {
    background-color: #f2f2f0;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #f2f2f0
}

::-webkit-scrollbar-thumb:active {
    background-color: #f2f2f0
}

body {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.model-opened {
    overflow: hidden !important;
    position: absolute !important;
}

/*=============================动画*/
* {
    /*动画持续时间*/
    animation-duration: .7s !important;
    /*动画延迟时间*/
    animation-delay: 0.1ms !important;
    /*动画执行次数*/
    animation-iteration-count: 1;
}

/*=============================只能调整垂直大小*/
textarea {
    resize: vertical !important;
    min-height: 70px;
    max-height: 500px;
}

pre {
    padding: 2px !important;
}

pre p {
    margin: -14px 0;
    font-size: 14px;
}

i.fa {
    padding-right: 5px;
}

button[type="button"][name="refresh"] {
    padding-top: 9px;
    padding-bottom: 9px;
}

button[type="button"][name="toggle"]:before {
    content: "卡片视图";
}

/*============================底部*/
.footer {
    color: #777;
    padding: 30px 0;
}

.footer a {
    color: #777;
}

.footer-bottom {
    font-size: 13px;
}

.sidebar-left {
    text-align: center;
    z-index: 1500;
    color: #333;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    width: 230px;
    box-sizing: border-box;
    box-shadow: 1px 3px 5px #ccc;
    overflow: visible !important;
    background-color: #393D49;
}

.sidebar-top-box {
    margin-bottom: 10px;
    border-bottom: 1px solid #474b57;
}

.sidebar-cover {
    text-align: center;
    margin-top: 20px;
}

.sidebar-cover img {
    width: 70px;
    border-radius: 70px;
}

.menu-left {
    width: 100% !important;
}

.sidebar-left .layui-nav-child a:hover,
.sidebar-left .layui-nav-item a:hover,
.sidebar-left .layui-nav-child a:focus,
.sidebar-left .layui-nav-item a:focus {
    text-decoration: none !important;
}

/**
自定义的容器内容布局
 */
.container-right {;
    margin: 0 15px 0 245px;
}

/*侧边开关=======================*/

.toggle-sidebar-btn {
    text-decoration: none;
    position: absolute;
    right: -35px;
    display: inline;
    cursor: pointer;
    color: #303a40;
    font-size: 22px;
    bottom: 15px;
}

.toggle-sidebar-btn:focus,
.toggle-sidebar-btn:hover {
    text-decoration: none;
    color: #303a40;
}

.sidebar-left.closed {
    left: -235px;
}

.sidebar-left.opened {
    left: 0;
}

.container-right.closed {
    margin: 50px 0 0 0;
}

.container-right.opened {
    margin: 66px 15px 0 245px;
}

/*============================媒体查询适应侧边栏*/
@media screen and (max-width: 1024px) {
    .sidebar-left {
        left: -235px;
    }

    .container-right {
        margin: 0;
    }

    .navbar-brand {
        font-size: 16px;
    }

    .container-right-context {
        margin: 0 !important;
    }

    #struct-model .struct-model-container {
        width: 100% !important;
        height: 100% !important;
        top: unset !important;
        -webkit-transform: unset !important;
        transform: unset !important;
        border-radius: unset !important;
    }
}

.container-right-header {
    height: 80px;
    box-shadow: 0 0 1em #ccc;
    border-radius: 4px;
    padding: 15px;
}

.container-right-context {
    border-radius: 4px;
    margin-top: 15px;
    /*box-shadow: 0 0 1em #ccc;*/
    padding: 15px;
    border: 1px solid #ccc;
}

.panel-header {
    border-bottom: 1px solid #ccc;
}

.left-panel-title {
    font-size: 24px;
    line-height: 250%;
}

#clusters-table,
#apikey-table,
#config-table,
#monitor-table {
    font-size: 14px;
}

/*================================表格操作图标*/
.link-button-table > a {
    padding: 0 4px;
    color: #337ab7;
    text-decoration: none;
}

.link-button-table > a:hover,
.link-button-table > a:focus {
    text-decoration: none;
}

.panel-button-group button {
    border-radius: 4px !important;
    outline: unset !important;
    margin: 0 10px;
}

#struct-model {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 9999;
    overflow-x: hidden;
    overflow-y: hidden;
    display: none;
}

#struct-model.model-opened {
    display: block !important;
}

#struct-model .struct-model-container {
    width: 70%;
    height: 90%;
    max-width: 1200px;
    background: #fff;
    position: relative;
    z-index: 1334;
    margin: 0 auto;
    top: 50%;
    padding: 10px;
    overflow-x: hidden;
    border-radius: 3px;
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.back-to-previous {
    display: inline-block;
    width: 55px;
    height: 30px;
    font-size: 16px;
    position: absolute;
    z-index: 1400;
    top: 10px;
    text-align: center;
    text-decoration: none;
}

.model-close {
    display: inline-block;
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 22px;
    position: absolute;
    z-index: 1400;
    right: 20px;
    top: 10px;
    text-align: center;
    text-decoration: none;
}

.back-to-previous:hover,
.back-to-previous:focus,
.model-close:focus,
.model-close:hover {
    text-decoration: none;
    outline: none;
}

#struct-model .struct-model-context {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.panel-header.window-header {
    position: fixed;
    left: 10px;
    right: 10px;
    z-index: 1300;
    background: #fff;
}

.panel-btn-group-left {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 16px;
}

#login-from {
    position: absolute;
    bottom: 50%;
    display: block;
    width: 300px;
    left: 50%;
    margin-left: -150px;
}

.header-right-icons {
    position: absolute;
    right: 30px;
    height: 50px;
    top: 30%;
}

.header-icon-item {
    color: #FFF;
    padding: 0 5px;
    line-height: 200%;
}

.advance-format-item {

}

.advance-format-title {
    cursor: pointer;
}

.advance-format-content {
    display: none;
}

#apikey-table {
    font-size: 14px;
}

/* box下拉菜单 */
.panel-box {
    min-height: 300px;
}

.panel-box-menu {
    position: absolute;
    right: 25px;
}

/**
弹框底部
 */
.fixed-footer-btn {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    border-top: 1px solid #ccc;
    left: 10px;
    right: 10px;
    padding: 10px;
    z-index: 1400;
}

.fixed-footer-btn>.input-group-btn>button:not(:first-child){
    margin-left: 32px;
}

.diff-tit{
    position: fixed;
    z-index: 1300;
    left: 0;
    right: 0;
    background-color: #FFF;
    border-bottom: 1px solid #eee;
}
.diff-tit> span{
    display: block;
    width: 50%;
    margin: 3px 0;
    text-align: center;
    float: left;
}


/**

 */
#consoleView{
    width: 400px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -400px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0 5px;
    color: #FFFF;
    line-height: 150%;
    overflow-x: unset;
    z-index: 10000;
}
#consoleView.opened {
    right: 0;
    overflow-y: auto;
}

#consoleView.closed {
   right: -400px;
    top: 5px;
}
#consoleView>p:first-of-type{
    font-weight: 700;
    background: #333;
    position: absolute;
    right: 0;
    left: -20px;
    cursor: pointer;
    padding-left: 25px;
    border-radius: 4px 0 0 4px;
}
#consoleView>p:first-of-type:before{
    content: "<<";
    position: absolute;
    left: 2px;
    bottom: 2px;
}